<style>
  .colors {
    border-collapse: collapse;
  }
  .colors td {
    padding: 3em;
  }
  .colors td div {
    padding: 1em;
    width: 100%;
  }
</style>

<table class="colors">
  <% ColorsPresenter.colors.each do |name, color| %>
    <tr>
      <td><%= name %></td>
      <%= ColorsPresenter.cell(color, color, 'white') %>
      <%= ColorsPresenter.cell(color, color, 'black') %>
      <%= ColorsPresenter.cell(color, 'white', color) %>
      <%= ColorsPresenter.cell(color, 'black', color) %>
    </tr>
  <% end %>
</table>

<script>
  (function() {
    let cells = document.querySelectorAll('.color');
    for (let cell of cells) {
      cell.addEventListener('mouseover', function(event) {
        let bg = event.currentTarget.style.backgroundColor;
        document.body.style.backgroundColor = bg;
      });
      cell.addEventListener('mouseout', function(event) {
        document.body.style.backgroundColor = '';
      });
    }
  })();
</script>
